/* src/components/Card.module.css */
.card {
    display: block;
    text-decoration: none !important;
    color: inherit !important;
    border: 1px solid #ddd !important;
    border-radius: 8px;
    padding: 16px;
    transition: box-shadow 0.2s;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  

  .cardImage {
    max-width: 20px; /* Adjust size as needed */
    height: auto;
    margin-right: 8px;
    margin-top: 8px;
  }

  .cardContent h3 {
    /* margin: 0 0 8px 0; */
    margin: 0;
  }
  .cardContent h3:hover{
    color: #ef393e !important;
  } 
  .cardContent p {
    margin: 0px 0 0 33px;
    transition: none !important;
    opacity: 0.7;
    font-size: 14px;

  }

  /* .cardContent p:link {
    text-decoration: none !important;
  } */