/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ef393e;
  --ifm-color-primary-dark: #ed1e23;
  --ifm-color-primary-darker: #e91319;
  --ifm-color-primary-darkest: #c00f14;
  --ifm-color-primary-light: #f15459;
  --ifm-color-primary-lighter: #f26266;
  --ifm-color-primary-lightest: #f68b8e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ef393e;
  --ifm-color-primary-dark: #ed1e23;
  --ifm-color-primary-darker: #e91319;
  --ifm-color-primary-darkest: #c00f14;
  --ifm-color-primary-light: #f15459;
  --ifm-color-primary-lighter: #f26266;
  --ifm-color-primary-lightest: #f68b8e;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  
}


/* .iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-theme-Icon-ExternalLink-styles-module{
  display: none;
} */

.nav-link svg{
  display: none;
}

.freewili-link {
  color: #ef393e;
}

.dropdown__link:hover {
  color: #ef393e !important;
}

/* for footer social icons */

/* src/css/custom.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

.footer-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links i {
  font-size: 1.2em;
}

.x-twitter{
  height: 16px;
  width: 16px;
}

figcaption {
font-weight: 600;
font-style: italic;
}

/* .span-black {
  color: black;
    background-color: rgb(255, 255, 255);
    padding-right: 2px;
} */


/* .docusaurus-theme-light .span-black {
  background-color: #ffffff;
  color: #000000;
}

.docusaurus-theme-dark .span-black {
  background-color: #000000;
  color: #ffffff;
} */

/* Apply styles specifically for the Linktree page */
.buy-now-page {
  text-align: center;
}

/* Style the profile image */
.buy-now-page img {
  /* border-radius: 50%; */
  width: 400px;
  height: auto;
  /* object-fit: cover; */
  border: 0.1px solid rgba(128, 128, 128, 0.2); 
  border-radius: 4%;
}

.buy-now-page div {
  align-items: center;
}

/* Style the links */
/* .buy-now-page a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
} */

/* Add hover effect to links */
/* .buy-now-page a:hover {
  background-color: #e0e0e0;
  text-decoration: underline;
  font-weight: bold;
  color: #ef393e 
} */

/* Style social media icons */
/* .buy-now-page .badge {
  margin: 5px;
}

.hash-link {
  display: none !important;
}

.buy-now-page ul
{
  list-style: none;
} */