/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ef393e;
  --ifm-color-primary-dark: #ed1e23;
  --ifm-color-primary-darker: #e91319;
  --ifm-color-primary-darkest: #c00f14;
  --ifm-color-primary-light: #f15459;
  --ifm-color-primary-lighter: #f26266;
  --ifm-color-primary-lightest: #f68b8e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ef393e;
  --ifm-color-primary-dark: #ed1e23;
  --ifm-color-primary-darker: #e91319;
  --ifm-color-primary-darkest: #c00f14;
  --ifm-color-primary-light: #f15459;
  --ifm-color-primary-lighter: #f26266;
  --ifm-color-primary-lightest: #f68b8e;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  
}


/* .iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-theme-Icon-ExternalLink-styles-module{
  display: none;
} */

.nav-link svg{
  display: none;
}

.freewili-link {
  color: #ef393e;
}


/* for footer social icons */

/* src/css/custom.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

.footer-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links i {
  font-size: 1.2em;
}

.x-twitter{
  height: 16px;
  width: 16px;
}

figcaption {
font-weight: 600;
font-style: italic;
}